 body {
     background-color: #eeeeee;
 }

 header {
     background-color: #0de4fb;

     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 nav {
     background-color: #FFA500;
     position: sticky;
     top: 0;
     z-index: 2;

     display: flex;
     justify-content: center;

 }

 #intro {
     background-color: pink;

     font-family: Arial, Helvetica, sans-serif;

     text-align: center;
 }

 .Main-section-content h2 {
     background-color: #06b800;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
 }

 #bestsellers,
 {
 background-color: #ff4444;
 }

 Header,
 nav,
 #intro,
 .Main-section-content h2,
 #bestsellers {
     border: 1px solid #yellow;
 }

 header,
 nav,
 #Main-content,
 {
     border-radius: 10px;

 }

 h1 {
     color: #fefefe;
     font-family: Arial, Helvetica, sans-serif;
     margin: 30px;
     
 }

 h2,
 p {
     color: #333333;
 }

 table,
 th,
 td {
     border: 1px solid #333333;

 }

 tr:nth-last-child(odd) {
     background-color: #ff0000;
 }

 span {
     color: blue;
 }

 footer p:first-child span {
     color: red;
 }

 .teachers-info {
     border: 1px solid #333333;
     border-radius: 5px;
     margin: 10px;
     width: 400px;
     box-shadow: 6px 0px 21px -3px #888888;
     display: flex;
     align-items : center;
     justify-content: center;
 }

 button {
     Background-color: #ff0000;
     color: #ffffff;
     font-size: 20px;
     font-weight: bold;
     padding: 5px;
        border-radius: 5px;
        border: none;
        position: fixed;
        right: 50px;
        bottom: 40px;
 }

 ul {
     list-style-type: none;
 }
 li a {
    text-decoration: none;
    color: #035980;
    font-size: 20px;
    font-weight: 600;
 }

 li a:hover {
    color: #ff0000;
 }

 p {
    font-size: 18px;
    
 }

 h3 {
    font-size: 20px;
    font-family: Pacifico, Helvetica, sans-serif;
    text-decoration: underline;
 }
 nav li {
    margin: 10px;
    padding: 5px;
    border: 1px solid #333333;
    border-radius: 5px;
 }

 .teacher-info div:last-child {
    margin-left: 50px;

 }

 .Main-section-content {
 padding: 20px;

 }
 
 table {
    Margin: auto;
 }

 th,
 td {
    padding: 10px;
 }

 footer {
    padding: 20px;
    display : flex;
    justify-content: space-around;
    align-items: center;
 }

 #bestsellers h2 {
    padding: 20px;
 }

 ol li {
   margin-bottom: 20px;
 }

 #book-reveiw p,
    #book-reveiw h3 {
        position: relative;
        left:40%;
        width: 400px;
    }

    #video div{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    header {
        grid-area: header;
        
    }

    nav {
        grid-area: nav;
    }

    #intro {
        grid-area: intro;
    }

    #Main-content {
        grid-area: main-section;
    }

    #bestsellers {
        grid-area: bestsellers;
    }

     footer {
        grid-area: footer;
     }

     .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-areas:
     "header header header header intro"
        "nav nav nav nav intro"
        "main-content main-content main-content main-content bestsellers"
        "footer footer footer footer footer";
     }